html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* Variables */

:root {
    --background: #260101;
    --background-alt: #0C2A30;
    --text: #A0F2EA;
    --text-alt: #FFE2AB;
    --primary: #73FFCC;
    --secondary: #F2D6A2;
    --primary-dark: #58C49D;
    --primary-light: #9CFFDB;
}

/* Default body styles */

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

p {
    margin-bottom: 0;
}

section.main {
    font-size: 115%;
    margin: 0;
    padding: 0;
    color: var(--text);
    background-color: var(--background);
} 

a:link {
    color: var(--primary);
}

a:visited {
    color: var(--primary-dark)
}

a:hover {
    color: var(--primary-light)
}

section.gradient {
    background-image: linear-gradient(180deg, var(--background), var(--background-alt));
    height: 40px;
}

footer {
    background-color: var(--background-alt);
    color: var(--text-alt);
    padding: 0 0 0.3em;
    margin-top: 0;
}


/* Style Banner */
header {
    background-image: url("images/universe-g7c7625573_1920.jpg");
    height: 100vh;
    max-height: 904px;
    min-height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

header section {
    padding: 1rem;
}

.above-image {
    color: white;
}

/* Center centered-main class */
.centered-main {
    width: 70%;
    max-width: 55em;
    margin: 0 auto;
}

/* Style floated boxes */
.box-right {
    box-sizing: content-box;
    float: right;
    width: 350px; 
}

.box-right img {
    width: 300px;
}

.clear-float {
    clear: both;
}